<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='sketch.js') }}"></script>
    </head>
<body>
    <h2>HTML Forms</h2>
    <!-- onsubmit event.preventDefault() stops this from making a request and instead calls the form_submission() function -->
    <form id="userInputForm" onsubmit="event.preventDefault(); form_submission();">
      Type something and hit submit to see it below:<br>
      <input type="text" name="userInput" id="userInput" placeholder="insert text here">
      <input type="submit" value="Submit">
    </form>
    <p id="formOutput"></p>

    <div id="dataDiv">
        <p id="dataP"></p>
    </div>

<script>
$(document).ready(function() 
{
    // perform async AJAX Request
    $.ajax(
        // put all of the info about the request into JSON
        {
            // specify the method and url
            type: "POST",
            url: "send_data"
            
        // .done specifies action to take when we get the response.  Positional arguments for anonymous function are:
        // data as plain text and status as "success", or "done"
        }).done(function(data, status)
        {
            console.log(data);
            if(status == "success")
            {
                // update the text for the specific html element based on tag
                $("#dataP").text(data);
            }
        })
});

function form_submission()
{
    // perform async AJAX Request
    $.ajax(
        // put all of the info about the request into JSON
        {
            data:
            {
                // get the userInput from the form based on id, only get the value
                userInput: $("#userInput").val()
            },
            // specify the method and url
            type: "POST",
            url: "form_submission"
            
        // .done specifies action to take when we get the response.  Positional arguments for anonymous function are:
        // data as plain text and status as "success", or "done"
        }).done(function(data, status)
        {
            if(status == "success")
            {
                // update the text for the specific html element based on tag
                $("#formOutput").text(data.userInput);
                $("#userInput").val(data.userInput);
            }
        })
}
</script>
</body>
</html>
